body {
    width: 100%;
    min-height: 100vh;
    font-size: 16px;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
  }

.front-card, .back-card {
    color: white;
}


.first-input, .second-input, .third-input, .four-input, .five-input {
    border-radius: 8px;
    line-height: 30px;
    border-style:ridge;
    border-color: grey;
    border-width: 1px;
}
.card-name, .card-number, .data, .cvc {
    font-size: 13px;
}

@media only screen and (max-width: 1440px) { 

    main {
        display: flex;
      }

    .inputs-button {
        margin-top: -550px;
        margin-left: 800px;
       
    }
    .background {
       height: 100vh;
    }
    .front-card {
        position: absolute;
        top: 20%;
        left: 10%;
        z-index: 1;
        color: white;
      }
      
      .back-card {
        position: absolute;
        top: 50%;
        left: 15%;
        color: white;
      }
      .number-front {
        position: absolute;
        top: 55%;
        left: 10%;
        letter-spacing: 7px;
      }
      .name {
        position: absolute;
        top: 80%;
        left: 10%;
      }
      .mounth-card {
        position: absolute;
        top: 80%;
        left: 80%;
    }
    .cvc-card {
        position: absolute;
        top: 38.5%;
        left: 80%;
    }
   
    .confirm {
        border-radius: 8px;
        border-style: none;
        color: white;
        background-color: hsl(278, 94%, 30%);
        line-height: 30px;
        width: 205px;
        margin-left: 905px;
        margin-bottom: 50px;
        margin-top: 15px;
    }
} 

@media only screen and (max-width: 375px) {
    .background {
        position: relative;
        width: 430px;
        height: 260px;
    }
    
    .background-image {
        width: 470px;
        height: 260px;
        display: flex;
        margin: -8px;
        position: absolute;
        
    }
   
    .back-card {
        display: flex;
        width: 20px;
        height: 175px;
        position: absolute;
        margin-left: 60px;
        border-radius: 20px;
        margin-top: -105px;
    }
    
    .front-card {
        display: flex;
        width: 20px;
        height: 175px;
        margin-top: 75px;
        position: absolute;
        margin-left: 45px;
        border-radius: 20px;
        
    }
    
    .inputs-button {
        width: 385px;
        height: 300px;
        display: flex;
        margin-top: 100px;
        margin-left: 30px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .first-input, .second-input {
        margin-bottom: 10px;
        width: 200px;
    }
    .third-input, .four-input {
        width:93px;
        text-align: center;
    
    }
    .four-input {
        margin-left: 3px;
    }
    
    .five-input {
        width: 90px;
        text-align:left;
    }
    
    .card-name, .card-number {
        text-align: left;
        line-height: 0px;
    }
    .data {
        line-height: 0px;
    }
    .cvc {
        height: 9px;
        text-align: center;
    }
    .button-confirm {
        text-align: center;
    }
    .confirm {
        border-radius: 8px;
        border-style: none;
        color: white;
        background-color: hsl(278, 94%, 30%);
        line-height: 30px;
        width: 205px;
        margin-left: 25px;
        margin-bottom: 50px;
    }
    .conteiner-card {
        position: relative;
        color: white;
        width: 20px;
        height: 175px;
    }
    .number-front {
        position: absolute;
        top: 75px;
        left: 20px;
        letter-spacing: 6px;
    }
    .name {
        position: absolute;
        top:125px;
        left:20px;
        font-size: 13px;
    }
    .mounth-card {
        position: absolute;
        top: 125px;
        left: 250px;
    }
    .cvc-card {
        position: absolute;
        margin-left: 250px;
        margin-top: 10px;
        font-size: 11px;
    }
    }